<div id="status_info">
  <%= render(:partial => 'status')%>
</div>

<% content_for(:breadcrumb) do %>
  <%= breadcrumb_box do %>
    <%= link_to "Projects", projects_path %> &gt;
    Project <%= link_to current_project.name, current_project %> &gt;
    Stage <%= link_to current_stage.name, [current_project, current_stage] %> &gt;
    Deployment
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "Deployment of stage #{current_stage.name} of project #{current_project.name}" %>
  <h2>Deployment: <%= link_to @deployment.task, [current_project, current_stage, @deployment] %></h2>
<% end %>

<% content_for(:page_scripts) do %>

  <script type="text/javascript">

    function check_auto_scroll_log(callback){
      var scroller = $("#auto_scroll_log");
      var bottom_marker = $('#back_link_at_the_bottom');

      if(scroller.length && scroller[0].checked && bottom_marker.length){
        // bottom_marker.scrollTo();
        $('html,body').animate({scrollTop: bottom_marker.offset().top}, callback);
      } else {
        if(typeof callback == "function") callback();
      }
    }

    function scroll_to_top(){
      if ( $('#auto_scroll_log')[0].checked ){
        $('#auto_scroll_log')[0].checked = false;
      }

      //$('header').scrollTo();
      $('html,body').animate({scrollTop: $('#header').offset().top});
    }
    
  <% unless @deployment.completed? -%>
    function update_status(callback){
      var params = {
        random_differentiator: Math.floor(Math.random()*50000), // work around IE caching bug
        auto_scroll: $('#auto_scroll_log')[0].checked,
        log_from: $('#log_container >tr:last>td:first').text()
      };
      $.ajax({
        url: '<%= project_stage_deployment_path(@project, @stage, @deployment) %>.js',
        type: 'GET',
        data: params,
        dataType: 'text',
        success: function(data, status, xhr) {
          if(xhr.getResponseHeader('Deployment-Completed')=='1'){
            $('#status_info').html(data);
            check_auto_scroll_log();
          } else {
            var $html = $(data.replace(/(<\/?[^\>]*\>)[\n ]+/g, '$1')).hide();
            $('#log_container').append($html);
            check_auto_scroll_log(function(){
              $html.fadeIn('slow');
            });
          }
          if(typeof callback == "function") callback();
        },
        error: function(jqXHR, textStatus, exception) {
          console.log("AJAX access failed("+jqXHR.status+"). "+textStatus+": "+exception+".");
        }
      });
    }
    
    function loop_status(){
      if(!$('#auto_scroll_log').data('completed')){
        setTimeout(function(){
          update_status(loop_status);
        }, 3000);
      }
    }
    
    $(function(){
      check_auto_scroll_log();
      loop_status();
    });
  <% end -%>
  </script>

<% end %>
